Ihr Bestätigungscode zur Bestätigung Ihrer neuen E-Mail-Adresse lautet: {{.Code}}

Dieser Code läuft in 30 Minuten ab.

Wenn Sie diese E-Mail-Änderung nicht angefordert haben, können Sie diese E-Mail ignorieren.
