Ihr Code zum Zurücksetzen der Zwei-Faktor-Authentifizierung lautet: {{.Code}}

Dieser Code läuft in 15 Minuten ab.

Wenn Sie dies nicht angefordert haben, könnte jemand Ihr Passwort kennen. Bitte ändern Sie es umgehend.
