<p>Twój kod weryfikacyjny potwierdzający nowy adres e-mail to:</p><h2 style="font-family: monospace; letter-spacing: 4px;">{{.Code}}</h2><p>Ten kod wygasa za 30 minut.</p><p>Jeśli nie prosiłeś o zmianę adresu e-mail, możesz zignorować tę wiadomość e-mail.</p>
