<p>Je verificatiecode om je nieuwe e-mailadres te bevestigen is:</p><h2 style="font-family: monospace; letter-spacing: 4px;">{{.Code}}</h2><p>Deze code verloopt over 30 minuten.</p><p>Als je deze e-mailwijziging niet hebt aangevraagd, kun je deze e-mail negeren.</p>
