Je code om tweefactorauthenticatie opnieuw in te stellen is: {{.Code}}

Deze code verloopt over 15 minuten.

Als je dit niet hebt aangevraagd, heeft iemand mogelijk je wachtwoord. Wijzig het onmiddellijk.
