Tu código de verificación para confirmar tu nueva dirección de correo electrónico es: {{.Code}}

Este código caduca en 30 minutos.

Si no solicitaste este cambio de correo electrónico, puedes ignorar este correo electrónico.
