<p>Tu código de verificación para confirmar tu nueva dirección de correo electrónico es:</p><h2 style="font-family: monospace; letter-spacing: 4px;">{{.Code}}</h2><p>Este código caduca en 30 minutos.</p><p>Si no solicitaste este cambio de correo electrónico, puedes ignorar este correo electrónico.</p>
