Tu código de restablecimiento de la autenticación de dos factores es: {{.Code}}

Este código caduca en 15 minutos.

Si no solicitaste esto, es posible que alguien tenga tu contraseña. Cámbiala de inmediato.
