Votre code de vérification pour confirmer votre nouvelle adresse e-mail est : {{.Code}}

Ce code expire dans 30 minutes.

Si vous n'avez pas demandé ce changement d'adresse e-mail, vous pouvez ignorer cet e-mail.
