Il tuo codice di reimpostazione dell'autenticazione a due fattori è: {{.Code}}

Questo codice scade tra 15 minuti.

Se non hai richiesto questo, qualcuno potrebbe essere in possesso della tua password. Cambiala immediatamente.
